<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients-Sangeetha Arts /clients</title>
    <link rel="shortcut icon" href="symbol.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="cts.css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
    
        <img src="Sangeetha Arts.png" class="logo" width="500" height="100">
        
    <div class="info">
        <ul>
            <li><a href="main_design.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="aboutus.html"><i class="fa fa-user" aria-hidden="true"></i>About Us</a></li>
            <li><a href="clients.html"><i class="fa fa-users" aria-hidden="true"></i>Clients</a></li>
               <li> <div class="dropdown">
                    <a href# class="dropbtn"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a>
                    <div class="dropdown-content">
                      <a href="mailto:nslakshman98@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>Mail</a>
                      <a href="tel:8197557809"><i class="fa fa-phone" aria-hidden="true"></i>Call</a>
                      <!--<a href="#">Link 3</a>-->
                    </div>
                  </div>
            
            </li>
        </ul>
        </div>
    </header>

<div class="midbody">
<div class="clients">

    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="playschool.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Play School</h1> 
            <p>Books | Forms | Progress Card | Visiting Card</p> 
            
          </div>
        </div>
      </div>


      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="tandor.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>New Tandoor</h1> 
            <p>Sign Board | Menu Card </p> 
            
          </div>
        </div>
      </div>


      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="dental.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Gloss Dental Care</h1> 
            <p>Sign Board | Prescription Pad | Visiting Cards</p> 
            
          </div>
        </div>
      </div>

    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="kaka.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Kaka Singh Restaurant</h1> 
            <p>Sign Board | Menu Card</p> 
            
          </div>
        </div>
      </div>
    </div>
<!--</div>
    <center><footer> Desinged by: Naik</footer></center>-->
</body>
</html>






